* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(243, 249, 238);
}
h2 a {
  color: rgb(229, 42, 42);
  text-transform: uppercase;
  text-decoration: none;
}

.btnDev {
  position: relative;
  display: inline-block;
  color: #593d1a;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

#pageTitle {
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  background: rgb(250, 250, 250);
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.btn {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.Slidesbackground {
  margin: 0;
  padding: 0;
  position: relative;
}
.slideshow-image {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mySlides {
  border-radius: 3%;
  width: 120%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.slideshow-container {
  display: flex;
  justify-content: start;
  position: relative;
  /* margin: auto; */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-family: "Noto Serif KR", serif;
  color: #815d0e;
  text-align: center;
}
.commentTable {
  width: 100%;
  height: 100%;
  background: rgb(238, 239, 205);
}

.comment button {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#pageInfo {
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

#roadMap img {
  box-sizing: border-box;
  width: 500px;
  height: 100%;
}

#lnb {
  width: 300px;
  height: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid black;
}

#lnb h2 {
  text-align: center;
}

.whatsFront img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 80px;
  width: 100%px;
  margin: 0 auto;
}

.ball {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  align-items: center;
}

.ball a {
  text-transform: uppercase;
  text-decoration: none;
}

table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.myTable {
  padding-left: 50px;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  background: #00ae68;
  box-shadow: 0px 5px 0px 0px #007144;
  text-decoration: none;
}
