body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(254, 239, 203);
}

.title {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 50px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
h1 {
  padding: 5px auto;
  color: rgb(248, 82, 53);
}

.btnUser {
  position: relative;
  border: none;
  display: inline-block;
  background-color: rgb(246, 160, 69);
  background: rgb(255, 214, 214);
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.btnList {
  padding: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Slidesbackground {
  margin: 0;
  padding: 0;
}
.slideshow-image {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mySlides {
  border-radius: 3%;
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.btnDev {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #f159a7;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.btnDevn:hover {
  background: #ef85b7;
  color: #050801;
  box-shadow: 0 0 5px #ef85b7, 0 0 25px #ef85b7, 0 0 50px #ef85b7,
    0 0 200px #ef85b7;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
