* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(248, 249, 236);
}

#container {
  width: 100%;
}

.btn {
  padding: 5px;
  display: flex;
  justify-content: end;
  gap: 20px;
  text-align: center;
}
.btnDev {
  position: relative;
  display: inline-block;
  color: #593d1a;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.btn {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.btnDev a {
  text-decoration: none;
}

h1 a {
  color: rgb(246, 78, 78);
  text-transform: uppercase;
  text-decoration: none;
}

.title {
  width: 100%;
  height: 70px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
}

td a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Georgia;
  font-style: italic;
}

#myBody {
  padding-top: 120px;
  width: 100%;
  height: 500px;
  border: 0.4em inset #009688;
  display: flex;
  flex-direction: row;
}

.menuPage table {
  width: 200px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
th,
td {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.viewPage {
  width: 100%;
  height: 100%;
}

.myView {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 2px solid black;
}

#boardsTitle {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid rgb(101, 96, 96);
}

.bd1 {
  padding-right: 100px;
  font-size: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bd2 {
  font-size: 50px;
}

span p {
  text-align: center;
}

#rootComment {
  padding-left: 200px;
  margin: 0 auto;
  width: 1000px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 80px;
  width: 100%px;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
}

.comment > li {
  margin-top: 20px;
}

.comment > li:nth-child(1) {
  margin: 0px;
}

.comment-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.comment-row > li:nth-child(2) {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 15px;
  z-index: 1;
  width: 100%;
}

.commentForm > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.commentForm > form > h4 {
  width: 100%;
  margin: 14px 0 14px 0;
}

.comment-content {
  cursor: pointer;
  word-break: break-all;
  padding-right: 25px;
}

.ps_box {
  display: block;
  position: relative;
  width: 80%;
  height: 150px;
  border: solid 1px #dadada;
  padding: 14px;
  background: #fff;
  box-sizing: border-box;
  outline: none;
}

.int {
  display: block;
  position: relative;
  width: 95%;
  height: 80px;
  padding-right: 23px;
  line-height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 10;
  resize: none;
}
.commentBtn {
  width: 80px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  background: #333;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  left: 80%;
}

#commentList {
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #a49696;
  background-color: #fff;
  width: 80%;
  height: 400px;
}
#commentList ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(52, 48, 48);
}

.itemDel {
  display: inline-block;
  padding: 3px;
  border: none;
  background-color: #fff;
}

.itemDel:hover {
  color: red;
  cursor: pointer;
}

.itemDel i {
  position: relative;
  left: 100px;
}
