<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHARP</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/indexList.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="root">
        <h1>SHARP</h1>
        <div class="btn">
          <button class="btnUser"><a href="/users/login">로그인</a></button>
          <button class="btnUser"><a href="">회원가입</a></button>
        </div>
      </div>
      <span class="slideshow-container">
        <div class="Slidesbackground">
          <div class="mySlides fade">
            <img src="/img/개발자 1-1.jpg" class="slideshow-image" />
          </div>
          <div class="mySlides fade">
            <img src="/img/개발자 1-2.jpg" class="slideshow-image" />
          </div>
          <div class="mySlides fade">
            <img src="/img/개발자1-3.jpg" class="slideshow-image" />
          </div>
          <div class="mySlides fade">
            <img src="/img/개발자1-4.jpg" class="slideshow-image" />
          </div>
          <div class="mySlides fade">
            <img src="/img/개발자 사진5.jpg" class="slideshow-image" />
          </div>
          <div class="mySlides fade">
            <img src="/img/개발자1-6.jpg" class="slideshow-image" />
          </div>
        </div>
      </span>
      <div class="btnList">
        <a href="#" class="btnDev">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Front-End
        </a>
        <a href="#" class="btnDev">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Back-End
        </a>
        <a href="#" class="btnDev">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          BlockChain
        </a>
      </div>
    </div>
  </body>
</html>
