<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="wrap">
      <form method="post" action="/index.html" class="login">
        <h1>SHARP</h1>
        <h2>User Login</h2>
        <div class="login_id">
          <input type="email" placeholder="Email" id="myId" />
        </div>
        <div class="login_pw">
          <input type="password" placeholder="Password" id="myPW" />
        </div>
        <div class="login_sub">
          <input type="submit" value="submit" id="myLogin" />
        </div>
      </form>
    </div>
  </body>
</html>
