<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>back-end</title>
    <link rel="stylesheet" href="/css/back.css" />
  </head>
  <body>
    <div id="container">
      <div id="pageTitle">
        <div class="title_1">
          <h5><a href="boards/login">로그인</a></h5>
          <h5><a href="boards/userCreate">회원가입</a></h5>
          <input type="text" placeholder="search" />
        </div>
        <h2><a href="/">SHARP</a></h2>
        <div class="btn">
          <a href="/boards/front" class="btnDev">Front-end</a>
          <a href="/boards/blockchain" class="btnDev">Block-chain</a>
        </div>
      </div>
      <div id="pageInfo">
        <div id="lnb">
          <h2>Back-end</h2>
          <div class="commentTable">
            <div class="frame">
              <button class="writeBtn">
                <a href="/boards/mywriteList">글쓰기</a>
              </button>
            </div>
            <table>
              <thead>
                <tr>
                  <th>제목</th>
                  <th>날짜</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{data.writer}}</td>
                  <td>{{data.created_at}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <ul class="comment">
              <li class="commentForm">
                <form id="commentFrm" action="">
                  <h4>댓글쓰기<span></span></h4>
                  <span class="ps_box">
                    <input
                      type="text"
                      placeholder="댓글을 입력 해주세요"
                      class="int"
                      name="content"
                    />
                  </span>
                  <input type="submit" class="commentBtn" value="등록" />
                </form>
              </li>
              <li id="commentList"></li>
            </ul>
          </div>
        </div>
        <div id="roadMap">
          <img src="/img/프론트엔드-공부-로드맵-2023.png" alt="" />
        </div>
        <div class="whatsBack">
          <img src="/img/백엔드란.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
