<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>back-end</title>
    <link rel="stylesheet" href="/css/back.css" />
  </head>
  <body>
    <div id="container">
      <div id="pageTitle">
        <div class="btn">
          {% if user %}
          <div class="userName">
            <h4>{{user.userNickname}}님 환영합니다</h4>
          </div>
          <a href="/users/logout" class="btnDev">로그아웃</a>

          <a href="/users/getuserInfo" class="btnDev">회원정보</a>

          {% else %}
          <a href="/users/login" class="btnDev">로그인</a>

          <a href="/users/userCreate" class="btnDev">회원가입</a>

          {% endif %}
        </div>
        <h2><a href="/">SHARP</a></h2>
        <div class="btn">
          <a href="/boards/front" class="btnDev">Front-end</a>
          <a href="/boards/blockchain" class="btnDev">Block-chain</a>
        </div>
      </div>
      <div id="pageInfo">
        <div id="lnb">
          <h2>Comment</h2>
          <ul class="comment">
            <li class="commentForm">
              <form id="commentFrm" action="">
                <span class="ps_box">
                  <input
                    type="text"
                    placeholder="댓글을 입력 해주세요"
                    class="int"
                    name="content"
                  />
                </span>
                <input type="submit" class="commentBtn" value="등록" />
              </form>
            </li>
            <li id="commentList"></li>
          </ul>
        </div>
        <div id="roadMap">
          <img src="/img/백엔드로드맵.png" alt="" />
        </div>
        <div class="whatsFront">
          <img src="/img/백엔드란.png" alt="" />
        </div>
      </div>
      <div class="commentTable">
        <div class="myTable">
          <div>
            <a href="/boards/writeBoard" class="button cyan_mini">글쓰기</a>
          </div>
          <table class="type09">
            <thead>
              <tr>
                <th scope="cols">no.</th>
                <th scope="cols">제목</th>
                <th scope="cols">시간</th>
                <th scope="cols">닉네임</th>
                <th scope="cols">조회수</th>
                <th scope="cols">추천수</th>
              </tr>
            </thead>
            <tbody>
              {% set list = data %} {% for row in list %}
              <tr>
                <th scope="row">{{row.Num}}</th>
                <td>
                  <a href="/boards/myView?id={{row.boardId}}">{{row.title}}</a>
                </td>
                <td>{{row.created_at}}</td>
                <td>{{row.userNickname}}</td>
                <td>{{row.views}}</td>
                <td>{{row.likes}}</td>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row">항목명</th>
                <td>내용이 들어갑니다.</td>
              </tr>
              <tr>
                <th scope="row">항목명</th>
                <td>내용이 들어갑니다.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
