<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myComment</title>
    <link rel="stylesheet" href="/css/commentList.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <div class="title">
          <h1><a href="/">SHARP</a></h1>
          <div class="btnInfo">
            {% if user %}
            <div class="userName">
              <h4>{{user.userNickname}}님 환영합니다</h4>
            </div>
            <a href="/users/logout" class="btnDev">로그아웃</a>

            <a href="/users/getuserInfo" class="btnDev">회원정보</a>

            {% else %}
            <a href="/users/login" class="btnDev">로그인</a>

            <a href="/users/userCreate" class="btnDev">회원가입</a>

            {% endif %}
          </div>
        </div>
        <div id="myBody">
          <div class="menuPage">
            <table>
              <thead>
                <tr>
                  <th>메뉴</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/users/getuserInfo">회원정보</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="commentbody">
            <h1>내 SHARP 댓글</h1>
            <ul class="commentRoot">
              {% for row in comment%}
              <div class="commentBox">
                <div class="commentTitle">
                  <p><a href="/">SHARP</a></p>
                  <div class="comDel"><button>삭제</button></div>
                </div>
                <li>
                  <a href="/boards/myView?id={{row.boardId}}"
                    >{{row.comment}}</a
                  >
                </li>
                <li>{{user.userNickname}}</li>
              </div>
              {% endfor %}
              <!-- <div class="commentBox">
                <div class="commentTitle">
                  <p><a href="/">SHARP</a></p>
                  <div class="comDel"><button>삭제</button></div>
                </div>
                <li>
                  <a href="/boards/myView?id={{row.boardId}}"
                    >내 댓글1
                    fwwwfffffffffffffwfwffwfwfwwffwwf{{row.comment}}</a
                  >
                </li>
                <li>{{user.userNickname}}</li>
              </div>
              <div class="commentBox">
                <div class="commentTitle">
                  <p><a href="/">SHARP</a></p>
                  <div class="comDel"><button>삭제</button></div>
                </div>
                <li>
                  <a href="/boards/myView?id={{row.boardId}}"
                    >내 댓글2 아이우이아ㅏㄹ라라라라라랄라{{row.comment}}</a
                  >
                </li>
                <li>{{user.userNickname}}</li>
              </div> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
