<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div id="root">
        <h2>프로필 수정</h2>
        <form method="post" action="/users/userCreate">
          <table>
            <tr>
              <th>* 이름</th>
              <th><input type="text" name="userName" /></th>
              <th>* 별명</th>
              <th><input type="text" name="userNickname" /></th>
            </tr>
            <tr>
              <td>* 이메일</td>
              <td colspan="3"><input type="text" name="userEmail" /></td>
            </tr>
            <tr>
              <td>* 비밀번호</td>
              <td colspan="3"><input type="password" name="userPassword" /></td>
            </tr>
            <tr>
              <td>* 생년월일</td>
              <td colspan="3"><input type="text" name="userBirth" /></td>
            </tr>
          </table>
          <button class="btnCreate">수정</button>
        </form>
      </div>
    </div>
  </body>
</html>
