<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPage</title>
    <link rel="stylesheet" href="/css/getUserInfo.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <div class="title">
          <h1><a href="/">SHARP</a></h1>
          <div class="btn">
            <button class="btnUser">{{user.userNickname}}</button>
            <button class="btnUser">
              <a href="/users/getuserInfo">회원정보</a>
            </button>
          </div>
        </div>
        <div id="myBody">
          <div class="menuPage">
            <table>
              <thead>
                <tr>
                  <th>메뉴</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="">마이페이지</a></td>
                  <td><a href="/users/commentList">댓글목록</a></td>
                  <td><a href="/users/getModifyuserinfo">수정</a></td>
                  <td><a href="/users/deleteUser">회원탈퇴</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="infoPage">
            <div class="myInfo">
              <div class="infoTitle">
                <h2>개인 정보</h2>
                <p>
                  다양한 SHARP 서비스에서 사용되는 나와 내 환경설정에 관한
                  정보입니다.
                </p>
              </div>
              <span
                ><h5>userEmail</h5>
                <p>{{user.userEmail}}</p></span
              >
              <span
                ><h5>userName</h5>
                <p>{{user.userName}}</p></span
              >
              <span
                ><h5>userNickname</h5>
                <p>{{user.userNickname}}</p></span
              >
              <span
                ><h5>userBirth</h5>
                <p>{{user.userBirth}}</p></span
              >
              <span
                ><h5>userGrade</h5>
                <p>{{user.userGrade}}</p></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
