<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPage</title>
    <link rel="stylesheet" href="/css/getUserInfo.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <div class="title">
          <h1><a href="/">SHARP</a></h1>
          <div class="btn">
            <button class="btnUser">{{user.userNickname}}</button>
            <button class="btnUser">
              <a href="/users/getuserInfo">회원정보</a>
            </button>
          </div>
        </div>
        <div id="myBody">
          <div class="menuPage">
            <table>
              <thead>
                <tr>
                  <th>메뉴</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="">마이페이지</a></td>
                  <td><a href="">댓글목록</a></td>
                  <td><a href="/users/deleteUser">회원탈퇴</a></td>
                  <td><a href="/users/modifyUserinfo">수정</a></td>
                  <td><a href="">쪽지</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="infoPage">
            <div class="myInfo">
              <span
                >userEmail
                <p>{{user.userEmail}}</p></span
              >
              <span
                >userName
                <p>{{user.userName}}</p></span
              >
              <span
                >userNickname
                <p>{{user.userNickname}}</p></span
              >
              <span
                >userBirth
                <p>{{user.userBirth}}</p></span
              >
              <span
                >userGrade
                <p>{{user.userGrade}}</p></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
