<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/myView.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <div class="title">
          <h1><a href="/">SHARP</a></h1>
          <div class="btn">
            <button class="btnUser">{{user.userNickname}}</button>
            <button class="btnUser">
              <a href="/users/getuserInfo">회원정보</a>
            </button>
          </div>
        </div>
        <div id="myBody">
          <div class="menuPage">
            <table>
              <thead>
                <tr>
                  <th>메뉴</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="/users/getuserInfo">마이페이지</a>
                  </td>
                  <td>
                    <a href="/boards/modify?id={{board.boardId}}">수정</a>
                  </td>
                  <td><a href="/boards/delete">삭제하기</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="viewPage">
            <div class="myView">
              <span
                >title
                <p>{{board.title}}</p></span
              >
              <span
                >writer
                <p>{{board.writer}}</p></span
              >
              <span
                >content
                <p>{{board.content}}</p></span
              >
              <span
                >created_at
                <p>{{board.created_at}}</p></span
              >
              <span
                >category
                <p>{{board.category}}</p></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
