<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/mywrite.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <div class="title"><a href="#">글쓰기</a></div>
        <form method="post" action="myView" class="boxWrite">
          <input type="text" placeholder="제목" />
          <textarea placeholder="내용" name="" id=""></textarea>
          <div class="btnContainer">
            <button class="btnPush"><a href="#">등록</a></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
