<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/userCreate.css" />
  </head>
  <body>
    <div id="container">
      <div id="root">
        <h2>회원가입</h2>
        <form method="post" action="/boards/login">
          <table>
            <tr>
              <th>* 이름</th>
              <th><input type="text" /></th>
              <th>* 별명</th>
              <th><input type="text" /></th>
            </tr>
            <tr>
              <td>* 이메일</td>
              <td colspan="3"><input type="text" /></td>
            </tr>
            <tr>
              <td>* 비밀번호</td>
              <td colspan="3"><input type="password" /></td>
            </tr>
            <tr>
              <td>* 생년월일</td>
              <td colspan="3"><input type="text" /></td>
            </tr>
          </table>
          <button class="btnCreate">회원등록</button>
        </form>
      </div>
    </div>
  </body>
</html>
